.CourseCard {
    padding: 1em;
    display: grid;
    grid-template-columns: minmax(0, 70%) minmax(0, 30%);
    border: 2px solid green;
    gap: 1em;
}

.CourseCard_authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CourseCard_showBtnContainer {
    display: flex;
    justify-content: center;
}
