.Header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid mediumpurple;
}

.NavElements {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}