.Courses {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid mediumvioletred;
}

.Courses_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Courses_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}