.CreateCourse {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 2px solid forestgreen;

}

.CreateCourse_block {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 0.5em;
}

.CreateCourse_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.CreateCourse_form {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.CreateCourse_author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}